# Menonaktifkan eksekusi PHP dan skrip CGI di dalam folder uploads
<IfModule mod_php7.c>
    php_flag engine 0
</IfModule>
<IfModule mod_php.c>
    php_flag engine 0
</IfModule>

Options -ExecCGI
AddHandler cgi-script .php .php3 .php4 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi

# Mencegah akses file sensitif
<FilesMatch "\.(php|php3|php4|phtml|pl|py|jsp|asp|htm|shtml|sh|cgi)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
